*.asm		diff=sjis encoding=sjis working-tree-encoding=sjis eol=CRLF
*.txt		diff=sjis encoding=sjis working-tree-encoding=sjis eol=CRLF
*.c			diff=sjis encoding=sjis working-tree-encoding=sjis eol=CRLF
*.h			diff=sjis encoding=sjis working-tree-encoding=sjis eol=CRLF
